[submodule "sonar-kt-advance"]
	path = sonar-kt-advance
	url = https://github.com/kestreltechnology/sonar-kt-advance.git
	branch = switch-to-2018-XMLs-format
[submodule "xml-kt-advance-java"]
	path = xml-kt-advance-java
	url = https://github.com/kestreltechnology/xml-kt-advance-java.git
[submodule "electron-kt-advance"]
	path = electron-kt-advance
	url = https://github.com/kestreltechnology/electron-kt-advance.git
	branch = dev-2018
[submodule "kt-ls"]
	path = kt-ls
	url = https://github.com/kestreltechnology/kt-ls.git
[submodule "docker-sonar-kt-advance"]
	path = docker-sonar-kt-advance
	url = https://github.com/kestreltechnology/docker-sonar-kt-advance.git
	branch = 2018-dev
